body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.content {
    max-width: 700px;
    margin: 0 auto;
}

.container {
    padding: 1.25rem;
}

.ellipsis {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.font-16 {
    font-size: 1rem;
    line-height: 25px;
}

.font-14 {
    font-size: 0.875rem;
    line-height: 22px;
}

.font-12 {
    font-size: 0.75rem;
}

.user-info .profile .profile-img {
    width: 3rem;
    height: 3rem;
}

.user-info .profile .profile-img img {
    width: 100%;
    height: 100%;
}

.color-black {
    color: black;
}

.color-gray {
    color: gray;
}

.color-c3 {
    color: #c3c5c5;
}

.xp-bar {
    background: #f0f0f0;
    position: relative;
    height: 10px;
    border-radius: 50px;
}

.xp-bar-filled {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 60%;
    background: #4d82fa;
    border-radius: 50px;
}

/* nav bar */

.nav::before {
    content: '';
    position: absolute;
    box-shadow: rgb(0 0 0 / 62%) 3px 3px 5px 0;
    top: 155px;
    width: 100%;
    left: 0;
    height: 1px;
}

.nav li {
    list-style: none;
}

.nav li a {
    color: black;
    padding: 10px 2px;
    font-size: 0.875rem;
}

.nav li a.nav-active {
    border-bottom: 2px solid orange;
}

.user-cards {
    padding: 1rem;
    border-radius: 20px;
    color: #fff;
}

.user-cards .card-body {
    width: 90%;
}

.user-cards .card-body .card-title {
    width: 70%;
}

.user-cards .card-img {
    width: 2.5rem;
    height: 2.5rem;
}

.user-cards .card-img img {
    width: 100%;
}

.user-cards .card-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue-card {
    background: #5184ff;
}

.green-card {
    background: #4ed3c2;
}

.purple-card {
    background: #6163ce;
}

.pink-card {
    background: #ff85ac;
}


.card-head .card-time {
    color: #e6e6e6;
    font-size: 0.75rem;
}

.card-desc {
    color: #e6e6e6;
    margin-top: 5px;
}

.card-desc .font-bold {
    color: #f5f5f5;
}


.card-action .cta-button {
    background: white;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    max-width: fit-content;
    display: block;
    font-size: 12px;
}

.cards-view {
    display: none
}

.cards-view.cards-view-active {
    display: block;
}

.login {
    width: 100%;
    height: 100%;
}

.login body {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(14, 210, 150, 1) 0%, rgba(7, 147, 230, 1) 100%) no-repeat;
}


.login-box input {
    display: block;
    width: 100%;
    border-radius: 50px;
    padding: 12px;
    margin-top: 15px;
}

.login-box input[type=text],
.login-box input[type=password] {
    background: rgba(104, 184, 228, 0.25);
    border: 0;
    text-align: center;
}

.login-box input[type=submit] {
    background: #fff;
    border: 0;
    cursor: pointer;
    color: #83a0b5;
    transition: 0.2s ease-in-out;
}

.login-box input[type=submit]:hover {
    background: #3592e6;
    color: #f0f0f0;
    transition: 0.2s ease-in-out;
}

.login-text {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.sign-up {
    margin-top: 120px;
    color: #0d4d87;
}

.sign-up a {
    color: #03213d;
}